// Override this file to add your own SCSS styling.

.gallery a[data-fancybox] video {
    height: 250px;
    width: auto;
    max-width: inherit;
    display: inherit;
    margin: 0;
    padding: 4px;
    box-shadow: none;
    vertical-align: inherit;
  }

  @media screen and (max-width: 768px) {
    .gallery a[data-fancybox] video  {
      height: auto;
      width: 100%; /* 1 column */
    }

    .gallery a[data-fancybox] img  {
        height: auto;
        width: 100%; /* 1 column */
      }
  }

.gallery {
    text-align: center;
}

.fancybox-video {
    background: transparent;
    border: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none;
    padding: 0;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
}

.fancybox-slide--video {
    overflow: hidden;
    padding: 44px 0;
}


.author-name {
    font-size: 0.9rem; 
    color: rgba(0,0,0,0.8);
    white-space:nowrap;
}

.author-name a {
    font-weight: bold;
    font-size: 0.9rem; 
    color: rgba(0,0,0,0.8);
}

p {
    text-align: justify;
}